
/**
* -------------
* Global Styles
* -------------
*/

body {
  font-family: 'Poppins', sans-serif;
  /* Default font family and font color */
}


p{
  font-size: 16px;
  text-align: justify;

  /* Default font size and line height */
}



h1 {
   /* Default font, size, and margins */
}

h2 {
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/


.entete {
  background-color: #fcce00;
  color: white;
  text-align: center;
  font-weight: 900;
  padding-top: 0;
  padding-bottom: 80px;
  margin-bottom: 64px;
}

.entete_titre{
  margin: 0;
  font-size: 88px;
  text-transform: uppercase;
}

.entete_sous-titre{
  background-color: #ff6b00;
  margin: 0;
  font-size: 38px;
  text-align: center;
}

.section-title {
  text-align: center;
  font-size: 40px;
} 

.colonnes {
display: flex;
justify-content: space-around;
align-items: center;
}

.bloc_texte {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  margin: 10px;
  padding: 20px;
}

.bloc_photo {
  flex-basis: 0;
  flex-grow: 1;
  background-color: #fcce00;
  text-align: right;
}

.photo-ordinateur {
  mix-blend-mode: darken;
}

.button {
  color: #fcce00;
  width: 113px;
  height: 28px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}


.sub-title {
  text-align: center;
  font-size: 24px;
 font-weight: bold;
  color: black;  
}

.introduction {
font-family: Poppins;
font-size: 16px;
text-align: justify;
padding-right: 48px;
color: black;
}


.colonnes2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bloc-image-arcade {
  flex-basis: 0;
  flex-grow: 1;
  background-color: #ff6b00;
  text-align: left;
}

.image-arcade {
  mix-blend-mode: darken;
}

.bloc-texte-arcade {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  margin: 10px;
  padding: 20px;
}

.titre-arcade {
  text-align: center;
  font-size: 24px;
 font-weight: bold;
  color: black;
}

.texte-arcade {
 font-family: Poppins;
 font-size: 16px;
 text-align: justify;
 padding-right: 48px;
 color: black;
}

.bouton-rouge {
  color: #ff6b00 ;
  width: 113px;
  height: 28px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}

.titre-advance {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}